/* Root selector */
:root {
  /* color root selector */

  /* text color */
  --main-txt-color: #212121;
  --light-txt-color: #757575;
  --blue-txt-color: #2196f3;
  --black-txt-color: #000000;
  --grey-txt-color: #d9d9d9;
  --social-color: #afb1b8;

  /* background color */
  --light-bcg-color: #f5f4fa;
  --white-color: #ffffff;
  --dark-bcg-color: #2f303a;
  --blue-btn-color: #2196f3;

  --border-setup: 1px solid #eeeeee;

  /* font root selector */
  --main-font: roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

/* ======================================= */
/* main page selector */
.page {
  font-family: var(--main-font);
  color: var(--main-txt-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =============== utilities ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  list-style-type: none;
}

ul {
  padding-left: 0;
}
/* ===========link setup=========== */

.link {
  text-decoration: none;
  color: var(--black-txt-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.link:active {
  color: orange;
}
.link:focus,
.link:hover {
  color: var(--blue-txt-color);
}

/* navigation setup */
.link.link-current {
  color: var(--blue-txt-color);
}

.nav .list-item {
  position: relative;
}
.link-current::after {
  position: absolute;
  left: 0;
  bottom: -1%;

  content: "";
  display: inline-block;
  background-color: var(--blue-txt-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* ========= */

.btn {
  font-family: inherit;
  color: currentColor;
  border: none;
}
.btn:active {
  color: orange;
}
.btn:hover,
.btn:focus {
  color: var(--light-txt-color);
  background-color: var(--blue-btn-color);
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

/* logo style */

.header-logo {
  margin-right: 93px;

  color: var(--black-txt-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.header-logo:active .header-logo:focus,
.header-logo:hover {
  color: var(--black-txt-color);
}

.link .logo-txt {
  color: #2196f3;
}

/* header contact style */

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
  padding: 0;
}

.header-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-nav-link,
.link-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.link-contact {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--light-txt-color);
}

.link.link-contact:active {
  color: orange;
}
.link.link-contact:focus,
.link.link-contact:hover {
  color: var(--blue-txt-color);
}

.icon-header {
  fill: currentColor;
}

/* ===hero section=== */

.section-hero {
  background-color: var(--dark-bcg-color);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
}

.container-main-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.main-title-hero {
  text-align: center;

  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.section-hero .btn {
  display: block;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;

  background-color: var(--blue-btn-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero .btn:active,
.section-hero .btn:focus,
.section-hero .btn:hover {
  background-color: rgb(1, 122, 220);
  color: #212121;
}

/* ===== Our advantages section style =========== */

/*  second title transparent */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-advantage {
  display: flex;
  gap: 30px;
}

.icon-place {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--light-bcg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}
.advantage-text {
  min-width: 270px;

  color: var(--light-txt-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* ============ our work section style ========== */
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-container {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.second-title {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ========== our team block style ======== */

.team-section .list {
  display: flex;
  gap: 30px;
}

.team-section {
  background-color: var(--light-bcg-color);
}

.team-item {
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background-color: var(--white-color);
}

.img-team {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.team-position {
  margin-bottom: 16px;

  color: var(--light-txt-color);
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

/* -----social link style ----- */

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.social-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: inline-flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--social-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--blue-txt-color);
  color: var(--white-color);
}

/* ============ client block style ======== */

.client-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--blue-txt-color);
  fill: var(--blue-txt-color);
}

/* ======== footer style ========== */
.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--dark-bcg-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  text-decoration: none;
  color: var(--white-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.footer-logo:active,
.footer-logo:hover,
.footer-logo:focus {
  color: var(--white-color);
}
.footer-txt {
  color: var(--blue-txt-color);
}

.contact-address {
  font-style: normal;
}

.link-address {
  color: var(--white-color);
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item {
  color: var(--grey-txt-color);
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-address > .list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* footer social */

.footer-title {
  margin-bottom: 20px;

  color: var(--white-color);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.social-block .social-list {
  display: flex;
  gap: 10px;
  justify-content: start;
}

.social-block .social-item {
  width: 44px;
  height: 44px;
}

.socials-link-footer {
  display: inline-flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer .social-icon {
  fill: var(--white-color);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--blue-txt-color);
}

.footer-form-group {
  margin-left: auto;
}

.footer-form-title {
  display: block;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
}

.footer-form-field {
 display: inline-block;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: var(--light-txt-color);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  gap: 10px;
  margin-left: 12px;

  padding: 10px 28px;
  background-color: var(--blue-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #165f9a;
}


.footer-form-input::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* =========================================== */
/* =============== portfolio ================= */

/* ----------- button style ------------- */
.list-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.list-item > .btn {
  padding: 6px 22px;
  border-radius: 4px;

  background-color: var(--light-bcg-color);
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item > .btn:active,
.list-item > .btn:hover,
.list-item > .btn:focus {
  background-color: var(--blue-btn-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------- card style -------------- */

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-txt {
  padding: 20px 24px;
  border-left: var(--border-setup);
  border-right: var(--border-setup);
  border-bottom: var(--border-setup);
}

.client-txt > .section-title {
  margin-bottom: 4px;

  color: var(--main-txt-color);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.client-txt > .section-text {
  color: var(--light-txt-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.link-portfolio {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--blue-txt-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*     overlay settings     */

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 322px;
}

/**
  |============================
  | modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  transition: opacity 500ms linear, visibility 500ms linear,
    transform 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;
  color: var(--black-txt-color);
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--blue-btn-color);
}

/**
  |============================
  | modal FORM style
  |============================
*/

.feedback-form-title {
  display: block;
  width: 100%;
  margin-bottom: 12px;

  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}

.feedback-form-field {
  display: block;
  position: relative;
}

.feedback-form-field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.feedback-form-field:last-child {
  margin-bottom: 20px;
}

.feedback-form-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--light-txt-color);
}

.feedback-form-input {
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-input:last-child {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.feedback-form-input:last-child::placeholder {
  letter-spacing: 0.01em;
  color: #75757580;
}

.feedback-form-input:focus,
.feedback-form-input:hover {
  border-color: var(--blue-btn-color);
}

.feedback-form-input:focus ~ .feedback-icon,
.feedback-form-input:hover ~ .feedback-icon {
  fill: var(--blue-btn-color);
}

.feedback-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-checkbox-field {
  display: block;
  margin-bottom: 30px;
}

.feedback-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-checkbox-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}

.feedback-checkbox-field {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.feedback-checkbox + .feedback-checkbox-icon .icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-checkbox:checked + .feedback-checkbox-icon .icon-unchecked {
  opacity: 0;
}

.feedback-checkbox:checked + .feedback-checkbox-icon .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-link {
  color: var(--blue-txt-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-link:hover,
.feedback-link:focus {
  color: #165f9a;
}

.feedback-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  background-color: var(--blue-btn-color);
  border: none;
  color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-btn:hover,
.feedback-btn:focus {
  background-color: #1a7ac8f9;
}
